.iso-dom {
    -webkit-transform: rotateX(55deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateZ(45deg);
    border-collapse: collapse;

    /* TODO calculate? */
    margin-left: 890px;
}

.iso-dom__column {
    text-align: center;
    vertical-align: middle;
    float: left;
}

.iso-dom.iso-dom--debug .iso-dom__column {
    border: 1px solid red;
}

.iso-dom-item {
    position: absolute;
}

/* TODO img style should be scoped? rather should be a class because it might not be an img? */

/* DEV STUFF BELOW */

#objectContainer {
    position: absolute;
    top: 92px;
    left: -144px;
    pointer-events: none;
}

#grid .iso-dom__column {
    width: 100px;
    height: 100px;
}

img.iso-dom-item {
    pointer-events: none;
}

.iso-dom-item img {
    pointer-events: none;
}

.actions {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 9999999;
}

.actions__action {
    background: royalblue;
    color: #ffffff;
    font-size: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
